#project-card {
  background-color: var(--background-color);
  color: var(--text);
  /* border: 1px solid var(--border); */
}

#project-link {
  color: var(--text);
}

#project-link:hover {
  color: var(--link-hover);
}

#project-date {
  color: var(--text);
}

#project-header,
#project-footer {
  background-color: var(--background-shading-color);
}
