#formation-card {
  background-color: var(--background-color);
  color: var(--text);
  /* border: 1px solid var(--border); */
}

#certificate {
  color: var(--text);
}

#certificate:hover {
  color: var(--link-hover);
}

#formation-header,
#formation-footer {
  background-color: var(--background-shading-color);
}
