@media (max-width: 768px) {
  table td[data-title] {
    display: flex;
  }
  table td[data-title]::before {
    content: attr(data-title);
    width: 80px;
    margin-right: 2em;
    color: #bbb;
  }
}
